.navigator-bar {
    background: linear-gradient(180deg, #007BFF, #222);
    color: #fff;
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: all 0.5s ease;
    position: relative;
}

.icon-menu-bar {
    display: none;
}


.item>p {
    padding: 10px 30px;
    transition: all .2s ease;
    text-align: center;
    color: white;
    display: flex;
    gap: 1em;
    font-weight: 400;
}

.item>p:hover {
    background-color: #fff;
    color: #222;
    cursor: pointer;
    transform: scaleY(1.1)
}

.items-nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.item.active>p {
    background-color: #fff;
    color: #222;
    cursor: pointer;
}
@media (max-width:1340px) {
    .icon-menu-bar{
      display: flex;
      position: absolute;
      right: 10px;
      top: 10px;
  }
}