.home{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "new-order current-order";
    padding: 10px;
}
.current-order{
    grid-area: current-order;
}
.new-order{
    grid-area: new-order;
}